.recipe-title {
  margin-bottom: 8px;
  text-shadow: 0 0 8px var(--matrix-color);
  text-transform: uppercase;
  transition:
    background 0.2s,
    border-color 0.2s;
  font-size: 14px;
  letter-spacing: 2px;
}

.recipe-line {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  border-bottom: 1px solid var(--matrix-border-color);
  padding-bottom: 4px;
}

.recipe-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.recipe-description {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px;
}

summary {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
summary:hover {
  background: var(--matrix-border-color2);
  border-color: var(--matrix-border-color2);
}

.recipe-ingredients {
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 5px 0;
}
.recipe-ingredients::before {
  content: "> ";
}

.recipe-instructions {
  text-align: left;
  font-size: 14px;
  margin: 5px 0;
}

.recipe-tips {
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  margin: 10px 0;
}
.recipe-tips::before {
  content: "* ";
}

.cook-again {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .recipe-title,
  .recipe-time,
  .recipe-description,
  .recipe-ingredients,
  .recipe-instructions,
  .recipe-tips,
  summary {
    font-size: 12px;
  }
}