.ingredient-input {
  background-color: transparent;
  border: none;
  color: var(--matrix-color);
  font-size: 16px;
  letter-spacing: 2px;
  padding: 12px;
  text-shadow: 0 0 8px var(--matrix-color);
  transition:
    background 0.2s,
    border-color 0.2s;
  outline: none;
  flex: 1;
  caret-color: var(--matrix-border-color);
}

.ingredient-line {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  border-bottom: 1px solid var(--matrix-border-color);
  padding-bottom: 4px;
}

.ingredients-container {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.ingredient-btn {
  border: 1px solid var(--matrix-border-color);
  padding: 6px 12px;
  border-radius: 6px;
  text-shadow: 0 0 8px var(--matrix-color);
  background: #0d0d0d;
  border-radius: 8px;
  color: var(--matrix-color);
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
}
.ingredient-btn:hover {
  color: #ff3131;
  border-color: #ff3131;
  text-shadow: 0 0 8px #ff3131;
}

#ingredients-status-message {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: left;
}